//Base Styles
body {
	background-color: $color-gray;
	color: $color-light-gray;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: 200;
	line-height: 1.4;
	padding: 25px;
}

.c-headline {
	font-weight: 200;
	font-size: 70px;
	position: relative;

	&__divider {
		&:after {
			background-color: $color-pink;
			bottom: -15px;
			content: '';
			height: 1px;
			left: 0;
			max-width: 100px;
			position: absolute;
			width: 100%;
		}
	}
}

.c-subheadline {
	font-size: 16px;
	letter-spacing: 1px;
}